@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where([theme-mode=dark], [theme-mode=dark] *));

:root {
  --text-primary: blue;
  --td-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root[theme-mode='light'] {
  --td-component-border: #ebeef5;
  --td-text-color-primary: #1D2129;
  --td-bg-color-secondarycontainer: #FAFAFA;
}

html,
body,
#app {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #DDDEE0;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DDDEE0;
}